<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ShowSplashScreen" value="true"/>
    <add key="Width" value="1100"/>
    <add key="Height" value="650"/>
  </appSettings>
</configuration>